<div class="row-fluid">
    <form class="form form-horizontal" name="addEvent">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="eventName">Event Name </label>

                <div class="controls">
                    <input class="input-large" id="eventName" name="eventName" type="text"
                           ng-model="currentLog.title"
                           required>

                    <div ng-show="addEvent.eventName.$error.required && addEvent.$dirty">
                        <p><i class="icon icon-warning-sign"></i>Please enter an event name</p>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="startDate">Start Date </label>

                <div class="controls">
                    <div class="well well-small pull-left" ng-model="currentLog.start">
                        <datepicker show-weeks="showWeeks"></datepicker>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="endDate">End Date </label>

                <div class="controls">
                    <div class="well well-small pull-left" ng-model="currentLog.end">
                        <datepicker show-weeks="showWeeks"></datepicker>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input class="input-large" id="stateChampionship" name="stateChampionship" type="checkbox"
                               ng-model="currentLog.event.stateChampionship" >
                        Is this a State Championship? </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="contactName">Contact Name </label>

                <div class="controls">
                    <input class="input-large" id="contactName" name="contactName" type="text"
                           ng-model="currentLog.event.contactName" >
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="contactPhone">Contact Phone </label>

                <div class="controls">
                    <input class="input-large" id="contactPhone" name="contactPhone" type="tel"
                           ng-model="currentLog.event.contactPhone" >
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="contactEmail">Contact Email </label>

                <div class="controls">
                    <input class="input-large" id="contactEmail" name="contactEmail" type="email"
                           ng-model="currentLog.event.contactEmail" >
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="eventWebsite">Web Site </label>

                <div class="controls">
                    <input class="input-large" id="eventWebsite" name="eventWebsite" type="url"
                           ng-model="currentLog.event.eventWebsite" >
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="prizeMoney">Prize Money </label>

                <div class="controls">
                    <input class="input-large" id="prizeMoney" name="prizeMoney" type="number"
                           ng-model="currentLog.event.prizeMoney" >
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="certifiedJudgePercentage">CBJ Percentage </label>

                <div class="controls">
                    <input class="input-large" id="certifiedJudgePercentage" name="certifiedJudgePercentage"
                           type="number" min="0" max="100"
                           ng-model="currentLog.event.certifiedJudgePercentage" >
                    <div ng-show="(addEvent.certifiedJudgePercentage.$error.min || addEvent.certifiedJudgePercentage.$error.max) && addEvent.$dirty">
                        <p><i class="icon icon-warning-sign"></i>Please enter a value between 0 and 100</p>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="numberOfTeams">Number of Teams </label>

                <div class="controls">
                    <input class="input-large" id="numberOfTeams" name="numberOfTeams" type="number"
                           ng-model="currentLog.event.numberOfTeams" >
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <a name="saveBtn" ng-click="addNewEvent()" ng-disabled="addEvent.$invalid" class="btn btn-large btn-primary" >Save</a>
                    <a href="#/" name="cancelBtn" class="btn btn-large btn-danger">Cancel</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>