<div class="row-fluid">
    <h2>Upcoming Events</h2>
    <div ng-repeat="event in cookLogs">
        <p>Date: {{ event.start }}</p>
        <p>Event: {{ event.title }}</p>
    </div>
</div>
<div class="row-fluid">
    <h2>Active Cook Logs</h2>
    <div>
        <p>Date: {{ event.Date }}</p>
        <p>Event: {{ event.Name }}</p>
    </div>
</div>
<div class="row-fluid">
    <h2>Active Timers</h2>
    <div>
        <p>Time: {{ timer.NextEventTime }}</p>
        <p>Action: {{ timer.NextEventAction }}</p>
    </div>
</div>

