<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="MenuCtrl">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">BBQ Cook Log</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a class="home" href="#/calendar"><i class="icon icon-calendar"></i> Calendar</a></li>
                    <li><a class="home" href="#/cooklog"><i class="icon icon-list-alt"></i> Log</a></li>
                    <li><a class="home" href="#/cooktimer"><i class="icon icon-cog"></i> Timer</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>